.col-sm {
    padding: 5px;
}

svg {
    font-family: "Arial Black", Gadget, sans-serif;
}

.arc-inner path {
    fill: red;
}

.arc-outer path {
    fill: red;
}

.band {
    fill: lightgreen;
}

textPath {
    alignment-baseline: middle;
    fill: black,
}

.circle-outer path, .circle-inner path {
    fill: green;
    fill-opacity: .8;
}

band {
    fill-opacity: .5
}

svg {
    background: aliceblue;
}
